/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Lato', sans-serif;
}

body {
	font: 1em/1.5;
	color: #134f5c;
	background: #ffffff;
}

header {
	text-align: center;
	padding: 40px 0;
}

header span {
	text-transform: uppercase;
	border-bottom: 1px solid #184f68;
	padding-bottom: 3px;
	font-size: 1.3em;
}

h1 {
	padding-top: 3px;
	font-size: 2em;
	text-shadow: 0 2px 0 rgba(46, 46, 46, 0.45);
	margin: 0;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	background-image: linear-gradient(to right top, #bebebe, #c9c9c9, #d4d4d4, #e0e0e0, #ebebeb);
	border-radius: 10px;
	border: 2px solid #134f5ca2;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: 500;
	padding-top: .5em;
	border-top: 2px solid #134f5ca2;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;
}

input,
select {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #EAFDFF;
	border: 2px solid #dcf2fc;
	outline: none;
	border-radius: 5px;
	color: #134f5c;
}

input:focus,
select:focus {
	background: #fff;
	border-color: #134f5ca2;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	display: block;
	color: #fff;
	padding: .55em 1.25em;
	background: rgba(24, 76, 98, 0.897);
	margin: 1em auto;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background: rgba(27, 93, 121, 0.897);
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}

	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 2.5em 0 2.5em;
	}

	.col {
		float: left;
	}

	.col+.col {
		margin-left: 2.5%;
	}

	.col-3 {
		width: 23%;
	}

	.col-6 {
		width: 49%;
	}
}